# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Composer
/vendor/
composer.lock
docker-compose.yml

# Environment and config
.env
.env.*
*.local.php
*.env.php
config.php

# Logs and caches
/logs/
/cache/
/tmp/
*.log

# PHPUnit test results
.phpunit.result.cache

# Coverage reports
coverage/